pre:has(code) {
  display: grid;
  margin: 1em 0;
  padding: 1em 0;
  border-radius: var(--radius-medium);
  font-size: 14px;
  line-height: 24px;
  background-color: #1e2432;
  color: var(--color-white);
  overflow: auto;
}

.line {
  display: inline-block;
  width: 100%;
  padding: 0 1em;
}

.highlighted {
  border-left: 4px solid #a45fff;
  background-color: #103757;
}
