#post {
  max-width: 780px;
  line-height: 28px;
  margin: 0 auto;
  padding: 10px;

  & h1 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 0.5em;
  }

  & p {
    font-size: 17px;
    margin: 1.3em 0;
  }

  & .tags {
    padding-bottom: 0.5em;
  }

  & header img {
    padding-top: 0.5em;
  }

  & img {
    max-width: 760px;
    @media (max-width: 780px) {
      max-width: 100%;
    }
  }

  & ol {
    padding-left: 1.3em;
  }
}

.quote {
  font-size: 15px;
  font-family: monospace;
  padding: 2px 5px;
  border-radius: var(--radius-small);
  background-color: var(--color-quote);
}

.list-circle-margin {
  list-style-type: circle;
  padding-left: 1.3em;
  margin: 1.3em 0;

  & ::marker {
    color: #4d4d4db8;
  }
}

.edit-github {
  color: var(--color-git);

  &:hover {
    text-decoration-line: none;
  }
}
