:root {
  /* additional fonts */
  --font-secondary: 'Merriweather', serif;

  /* colors */
  --color-javascript: #fde22e;
  --color-typescript: #007acc;
  --color-html: #e34c26;
  --color-css: #563d7c;
  --color-redux: #764abc;
  --color-react: #61dafb;
  --color-next: #000000;
  --color-git: #129151;
  --color-success: #4aa74e;
  --color-info: #03a9f4;
  --color-warning: #ffc107;
  --color-danger: #df0000;
  --color-black: #000000;
  --color-white: #f8f8f2;
  /* --color-white: #fff; */
  --color-quote: #ebebebcf;

  /* radius */
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

h2,
h3,
h4 {
  font-weight: normal;
}

a {
  color: var(--color-typescript);
}

ul {
  list-style-type: none;
}

time {
  font-family: var(--font-secondary);
  font-size: 17px;
}

.fw-300 {
  font-weight: 300;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
  }
}
