.tags {
  display: flex;
  gap: 0.5em;
  line-height: 22px;
  color: var(--color-typescript);
  overflow-x: auto;
  white-space: nowrap;

  & li:not(:last-child) {
    border-right: 2px solid;
    padding-right: 0.5em;
  }
}
